# --- Data & Results ---
*.h5ad
*.h5
*.mtx
*.gz
01_data/
04_results/05_pathway_enrichment/01_pathway_enrichment_upregulated/01_enrichr_results/
04_results/05_pathway_enrichment/02_pathway_enrichment_downregulated/01_enrichr_results/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
setup.cfg

# --- Jupyter ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# --- VS Code & Windows ---
.vscode/
.history/
*.log
Thumbs.db
desktop.ini

# --- Conda ---
.conda/
conda-meta/
env/
venv/